<h1 class='text-center'><%= @post.title %></h1>
<p class='text-center'><em><%= @post.created_at.strftime('%B, %d %Y %I:%M %p') %> | <%= @post.user.email %></em></p>
<br>
<% if @post.iframe.present? %>
  <p class="text-center"><%= @post.iframe.html_safe %></p>
<% end %>
<br>
<p><%= @post.intro %></p><br>
<%= render @post.paragraphs %>


<%= render 'paragraphs/form'%>
<br>

<%= link_to 'Back to Main Page', root_path, class: 'btn btn-default center-class' %>
<% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
    <%= link_to 'Edit Intro', edit_post_path(@post), class: 'btn btn-default' %>
    <%= link_to 'Delete Post', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
  <% end %>
<% end %>
